#grid {
    width: auto;
    min-width: 700px;
    overflow: hidden;

    // display: grid;
    // grid-template-areas:
    //     "header"
    //     "content"
    //     "footer";
    // grid-template-rows: 1fr 8fr 1fr;
    // row-gap: 0px;
    // column-gap: 0px;
}

// #pageHeader {
//     grid-area: header;
// }

// #pageContent {
//     grid-area: content;
// }

// #pageFooter {
//     grid-area: footer;
// }




