#grid {
    width: auto;
    margin-left: 5vh;
    margin-right: 5vh;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "header header header"
        "slider slider slider"
        "menu posts posts"
        "footer footer footer";
    grid-template-rows: 10vh 1fr 1fr 15vh;
    grid-template-columns: 20vw 1fr 33vw;
    row-gap: 0px;
    column-gap: 0px;
}

#pageHeader {
    grid-area: header;
}

#pageSlider {
    grid-area: slider;
}


#postsMenu {
    grid-area: menu;
}

#posts {
    grid-area: posts;
}



#pageFooter {
    grid-area: footer;
}




