.docs-wrapper {
    max-width: 25vw;
    padding: 5px 25px;
    .some-text {
        color: blue;
        font-size: 24px;
    }

    .description {
        color: purple;
        font-size: 18px;
    }
}
