.header {
    $common-color: #ffffff;
    $hover-color: #bdc3c7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2980b9;

    .header-leftbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 30px;

        .header-site-title {
            font-size: 36px;
            padding-right: 30px;

            a {
                text-decoration: none;
                color: $common-color;

                &:hover {
                    color: gold;
                }
            }
        }

        .header-site-menu {
            font-size: 18px;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            a {
                color: $common-color;
                text-decoration: none;
                margin: 10px;

                &:hover {
                    color: gold;
                }
            }
        }
    }

    .header-rightbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 30px;

        .phone-number {
            margin-right: 15px;
            .phone-number-img {
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
            .phone-number-value {
                color: $common-color;
                text-decoration: none;
            }
        }

        .email-address {
            .email-address-img {
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
            .email-address-value {
                color: $common-color;
                text-decoration: none;
            }
        }
    }
}
