.content-infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-infoblock-text {
        color: #000;
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .content-infoblock-arrow > img {
        width: 50px;
        height: 50px;
    }

    .content-infoblock-items {
        display: flex;
        flex-direction: row;
        
    
        .content-infoblock-item {
            width: 15vw;
            height: auto;
            display: block;
            border-radius: 10px;
            border-width: 1px;
            border-color: #dadada;
            border-style: solid;
            padding: 5px;
            margin-right: 20px;

            .content-infoblock-item-img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .content-infoblock-item-title {
                margin: 0;
                padding: 5px 10px 0px;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .content-infoblock-item-text {
                margin: 0;
                padding: 5px 10px;
                color: #000;
            }
        }
    
    }
}
