.content-infoblock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-infoblock-additem {
        display: flex;
        flex-direction: column;
        align-items: center;
        .content-infoblock-additem-text {
            color: #000;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .content-infoblock-additem-textarea {
            width: 100%;
            height: auto;
            border-style: solid;
            border-width: 1px;
            border-color: #dadada;
            padding: 5px 15px;
            resize: none;
        }

        .content-infoblock-additem-button {
            margin-top: 10px;
            width: 50%;
            background-color: aquamarine;
            color: black;

        }

    }

    .content-infoblock-items {
        display: flex;
        flex-direction: row;
        margin-top: 35px;

        .content-infoblock-item {
            width: 15vw;
            height: auto;
            display: block;
            border-radius: 10px;
            border-width: 1px;
            border-color: #dadada;
            border-style: solid;
            padding: 5px;
            margin-right: 20px;

            .content-infoblock-item-img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .content-infoblock-item-title {
                margin: 0;
                padding: 5px 10px 0px;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .content-infoblock-item-text {
                margin: 0;
                padding: 5px 10px;
                color: #000;
            }
        }
    }
}
