.menuItems {
    padding: 10px;
    background-color: #aeae00;

    .item {
        padding-bottom: 5px;
        color: white;
    }

    .item a {
        text-decoration: none;
        color: white;
    }

    .item a:hover {
        color: gold;
    }

    
}